@use 'variables' as *;

#services {
    display: flex;

    .service {
        display: flex;
        gap: 16px;

        p {
            color: white;
            font-family: $poppins;
            font-size: 18px;
            font-weight: $poppins-semibold;
            width: 50%;
        }
    }
}