$black: #2B2D38;
$pink: #DB2A6B;
$grey: #ABABAB;
$grey2: #E1E1E1;

$poppins: "Poppins", sans-serif;
$merriweather: "Merriweather", serif;
$poppins-regular: 400;
$poppins-semibold: 600;
$merriweather-bold: 700;